<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620529871680-nd7caoun31nupidau9iefphurhjg8aj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620529871680-nd7caoun31nupidau9iefphurhjg8aj2</string>
	<key>API_KEY</key>
	<string>AIzaSyA8ma9i7EvqnXH3xfuzuyQ0LzZJ4RwKums</string>
	<key>GCM_SENDER_ID</key>
	<string>620529871680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>push-notification-502c8</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-502c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620529871680:ios:e01ad328397794891768a5</string>
</dict>
</plist>